.cards {
  box-sizing: border-box;
  margin-top: 51px;
}

.cards__list {
  display: grid;
  padding: 0;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  justify-content: center;
  margin: 0;
}

@media screen and (minmax: 872px) {
  .cards {
    margin-top: 45px;
  }
}

@media screen and (minmax: 320px) {
  .cards {
    margin-top: 36px;
  }
}
