.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}
.profile__image {
  background-color: black;
  height: 120px;
  width: 120px;
}
.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto-fit, 373px) auto;
  padding: 22px 0 21px 30px;
}
.profile__title {
  grid-area: title;
  font-size: 42px;
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.1;
  padding-right: 18px;
  padding-bottom: 7px;
}

.profile__edit-button {
  background: transparent url(../images/edit-button.svg) center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
  align-self: center;
  cursor: pointer;
  padding: 15px 0 9px 18px;
  border: 1px solid #fff;
}

.profile__edit-button:hover {
  opacity: 60%;
  cursor: hand;
}

.profile__description {
  grid-area: description;
  font-size: 18px;
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
}

.profile__add-button {
  background: transparent url(../images/add-button.svg) center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
  border: 1px solid #fff;
  cursor: pointer;
}
.profile__add-button:hover {
  opacity: 60%;
  cursor: pointer;
}

@media screen and (max-width: 872px) {
  .profile {
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    width: 282px;
  }

  .profile__title {
    padding: 0;
    font-size: 22px;
    padding-right: 10px;
    padding-bottom: 14px;
  }

  .profile__info {
    grid-template-columns: repeat(2, fit-content(100%));
    padding: 30px 0 36px;
  }

  .profile__description {
    justify-self: center;
  }

  .profile__edit-button {
    padding-top: 4px;
    align-self: self-start;
  }

  .profile__add-button {
    width: 100%;
  }
}
@media screen and (max-width: 320px) {
  .profile__title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 22px;
    line-height: 1.1;
  }

  .profile__description {
    justify-self: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
    line-height: 1.2;
  }
}

.profile__edit-button {
  width: 18px;
  height: 18px;
  background-size: 7.5px;

  .profile__add-button {
    background-size: 16px;
  }
}
