@import url(../vendor/normalize\ copy.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/content.css);
@import url(../blocks/profile.css);
@import url(../blocks/cards.css);
@import url(../blocks/footer.css);

@media screen and (max-width: 320px) {
  .page__section {
    max-width: 282px;
    width: 100%;
    position: relative;
    margin: 0 auto;
  }
  .header {
    margin-top: 28px;
    height: 56px;
  }
  .header__image {
    width: 126px;
    height: 24px;
    padding-left: 27px;
  }
  .profile {
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    width: 282px;
  }

  .profile__title {
    padding: 0;
    font-size: 22px;
    padding-right: 10px;
    padding-bottom: 14px;
  }

  .profile__info {
    grid-template-columns: repeat(2, fit-content(100%));
    padding: 30px 0 36px;
  }
  .profile__description {
    justify-self: center;
  }
  .profile__edit-button {
    padding-top: 4px;
    align-self: self-start;
  }
  .profile__add-button {
    width: 100%;
  }
}
@media screen and (max-width: 872px) {
  .header {
    margin-top: 28px;
    height: 56px;
  }
  .header__image {
    width: 126px;
    height: 24px;
    padding-left: 27px;
  }
  .profile {
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    width: 282px;
  }

  .profile__title {
    padding: 0;
    font-size: 22px;
    padding-right: 10px;
    padding-bottom: 14px;
  }

  .profile__info {
    grid-template-columns: repeat(2, fit-content(100%));
    padding: 30px 0 36px;
  }
  .profile__description {
    justify-self: center;
  }
  .profile__edit-button {
    padding-top: 4px;
    align-self: self-start;
  }
  .profile__add-button {
    width: 100%;
  }
}
